data/Real_World_SprintLab_Data.csv
.idea/
.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/

data/Real_World_SprintLab_Data.csv
notebooks/Track_&_Field_Statistical_Analysis.ipynb
/practice_forms.py
/playground.py
/static/images/sprint_lab_img.png
/static/images/sprint_lab_img_2.png


